modules = ["nodejs-20", "python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0", "google-mail:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 80

[[ports]]
localPort = 3000
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 3457
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 3458
externalPort = 3002
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 9293
externalPort = 3003
exposeLocalhost = true

[deployment]
deploymentTarget = "gce"
run = ["npm", "run", "start"]
build = ["sh", "-c", "npm run build && npm run db:production-setup"]

[nix]
packages = ["postgresql_10", "shopify-cli"]
channel = "stable-25_05"

[objectStorage]
defaultBucketID = "replit-objstore-c316fd75-b945-42ca-bd8d-9cfb94c6c2a4"
